In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sys
from sklearn.decomposition import PCA
from typing import Tuple
import json

In [2]:
# import the functions from local directory
sys.path.append("../helpers/functions")
from data_from_h5 import get_data

In [3]:
SAMPLE_RATE = 25000
DT = 1 / SAMPLE_RATE
PRIMARY_COLOUR = "black"
T = 100000
gain = .5  
TIME = np.arange(0, T) * DT
THRESHOLD_FACTOR = -5  # set a threshold mulitplier -> heuristic
LOAD_FROM_REPO = True

In [4]:
if LOAD_FROM_REPO:
    # load csv into pandas dataframe
    df = pd.read_csv("../data/spontaneous_data.csv")

    # print(df.shape)
    # print(df.head())

    # # choose some channels which are close to each other
    # channels = ["47", "48", "49", "50"]

    # # convert channel data to numpy array
    # data = df[channels].values
else:

    # loading data from HDF5 file
    df = get_data(
        sample_rate=SAMPLE_RATE , 
        file_path="/Volumes/WD Passport/DataScienceProject/220113_S1_m.h5", 
        data_path="Data/Recording_0/AnalogStream/Stream_0/ChannelData", 
        start_timestamp=500, 
        duration=T * 5, 
        show_structure=True
    )

    # channels = [47, 48, 49, 50]

    # # convert channel data to numpy array
    # data = df[channels].values

## Single Channel to JSON

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,29,25,-9,20,-4,8,71,8,-30,-18,...,78,12,-45,-24,20,28,18,21,-12,-24
1,38,-17,16,12,-13,1,64,-6,-29,-18,...,71,14,-43,-24,14,33,8,3,24,11
2,55,-23,24,31,10,4,37,-27,-10,-35,...,52,14,-37,-5,21,22,14,-2,58,38
3,48,-6,8,45,19,-6,8,-33,11,-60,...,32,12,-9,-5,29,-2,0,10,64,27
4,28,22,-4,53,1,-31,-5,-30,15,-66,...,25,22,20,-25,22,-2,-22,31,52,-6

In [13]:
df["49"]

0        67
1        46
2        50
3        74
4        87
         ..
99995    32
99996    53
99997    70
99998    69
99999    67
Name: 49, Length: 100000, dtype: int64

In [7]:
time = np.arange(0, len(df)) / SAMPLE_RATE

In [8]:
time

array([0.00000e+00, 4.00000e-05, 8.00000e-05, ..., 3.99988e+00,
       3.99992e+00, 3.99996e+00])

In [35]:
single_electrode_df = pd.DataFrame()
single_electrode_df["signal"] = df["49"]
single_electrode_df["time"] = time
max_amplitude = single_electrode_df["signal"].max()
min_amplitude = single_electrode_df["signal"].min()
length = len(single_electrode_df)

In [41]:
single_electrode_dict = {
    "max_amplitude": int(max_amplitude),
    "min_amplitude": int(min_amplitude),
    "length": int(length),
    "sample_rate": SAMPLE_RATE,
    "signal": df["49"].tolist(),
    "time": time.tolist()
}

In [42]:
# Use json.dump to write dictionary to a file
with open('../data/single_electrode.json', 'w') as f:
    json.dump(single_electrode_dict, f)